/* Thorium Web ships components with css modules so if we set readerSettings
 * from this module, the scope of components is actually different between the sheet 
 * and the settingsGroups we add for LayoutPresets. We have to use :global
 * and check for a class that contains "readerSettingsGroup" */

.readerSettings :global([class*="sheetBody"] > [class*="readerSettingsGroup"]:first-of-type) {
  margin-top: 0 !important;
}

.readerSettings :global([class*="sheetBody"] > [class*="readerSettingsGroup"]:last-of-type) {
  margin-bottom: 0 !important;
}

/* TMP before new TW package */

.readerSettingsGroup {
  margin: calc(var(--layout-spacing) * 2) 0; 
}

.readerSettingsLabel {
  display: block;
  font-weight: bold;
  font-size: 1rem;
  margin: 0;
}

/* Dropdown */

.readerSettingsDropdownButton {
  margin-top: var(--layout-spacing);
  position: relative;
  padding-block: calc(var(--layout-spacing) / 2);
  padding-inline: calc(var(--layout-spacing) / 2) calc(var(--icon-size, 24px) * 6/5);
  border-radius: var(--layout-radius);
  box-sizing: border-box;
  border: 1px solid var(--theme-subdue);
  max-width: 100%;
}

.readerSettingsDropdownButton[data-focus-visible] {
  outline: 2px solid var(--theme-focus);
}

/* Disclosure styles */
.readerSettingsDisclosureGroup {
  margin-block: var(--layout-spacing);
}

.readerSettingsDisclosure {}

.readerSettingsDisclosureHeader {
  display: flex;
  align-items: center;
  width: 100%;
  gap: calc(var(--layout-spacing) / 2);
  flex-wrap: nowrap;
  align-items: center;
  margin: var(--layout-spacing) 0;
}

.readerSettingsDisclosureButton {
  display: flex;
  align-items: center;
  gap: calc(var(--layout-spacing) / 4);
  margin: 0;
  background-color: var(--theme-background);
  color: var(--theme-text);
  cursor: pointer;
  text-align: start;
  font-weight: normal;
  flex-grow: 1;
  align-self: stretch;
  padding: calc(var(--layout-spacing) / 2) calc(var(--layout-spacing) / 2) calc(var(--layout-spacing) / 2) 0;
  border-radius: var(--layout-radius);
}

.readerSettingsDisclosureButton[data-hovered] {
  background-color: var(--theme-hover);
}

.readerSettingsDisclosureButton[data-focus-visible] {
  outline: 2px solid var(--theme-focus);
  outline-offset: -2px;
}

.readerSettingsDisclosureButton[data-disabled] {
  color: var(--theme-disable);
  cursor: not-allowed;
}

.readerSettingsDisclosureButton[data-disabled] .readerSettingsChevronIcon svg {
  fill: var(--theme-disable);
  color: var(--theme-disable);
}

.readerSettingsDisclosureHeaderDropdown {
  margin: 0;
}

.readerSettingsDisclosureHeaderDropdownButton {
  margin: 0;
}

.readerSettingsDisclosurePanel {
  padding-inline-start: calc((var(--icon-size, 24px) * 5/6));
}

.readerSettingsChevronIcon {
  width: calc(var(--icon-size, 24px) * 5/6);
  height: calc(var(--icon-size, 24px) * 5/6);
  flex-shrink: 0;
}

.readerSettingsChevronIcon svg {
  width: 100%;
  height: 100%;
  fill: var(--theme-text);
  transition: rotate 200ms ease-in-out;
  rotate: 0deg;
}

.readerSettingsDisclosure[data-expanded] .readerSettingsChevronIcon svg {
  rotate: 90deg;
}

.readerSettingsDisclosureButton[data-disabled] .readerSettingsChevronIcon svg {
  fill: var(--theme-disable);
  color: var(--theme-disable);
}

.readerSettingsDropdownButton svg {
  width: calc(var(--icon-size, 24px) * 5/6);
  height: calc(var(--icon-size, 24px) * 5/6);
  position: absolute;
  inset-inline-end: calc(var(--layout-spacing) / 4);
  inset-block-start: calc(var(--layout-spacing) / 2);
  fill: currentColor;
}

/* Inline dropdown layout */
.readerSettingsInlineDropdown {
  display: flex;
  align-items: center;
  margin: calc(var(--layout-spacing) / 2) 0;
  padding: 0;
  gap: calc(var(--layout-spacing) / 2);
  width: 100%;
}

.readerSettingsInlineDropdownLabel {
  font-size: 1rem;
  white-space: nowrap;
  margin: 0;
  flex-grow: 1;
}

.readerSettingsInlineDropdown .readerSettingsDropdownButton {
  margin: 0;
}

.readerSettingsInlineDropdown[data-disabled] {
  color: var(--theme-disable);
}