.header {
  display: grid;
  grid-template-areas: "header-left header-center header-right";
  grid-template-columns: 1fr 3fr 1fr;
  padding: 0.25rem 0.5rem 0;
}

.header h1 {
  font-size: 1rem;
  line-height: 1;
  color: var(--color-primary);
  font-weight: normal;
  grid-area: header-center;
  justify-self: center;
}

.textAreaButton,
.closeButton {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
  text-align: inherit;
  background: none;
  box-shadow: none;
  padding: 0;
  cursor: pointer;
  border: none;
  color: inherit;
  font: inherit;
}

.textAreaButton {
  grid-area: header-right;
  justify-self: end;
  width: var(--icon-size, 32px);
  height: var(--icon-size, 32px);
  text-align: center;
}

.closeButton {
  width: calc(var(--icon-size, 32px) / 1.5);
  height: calc(var(--icon-size, 32px) / 1.5);
  position: absolute;
  top: 10px;
  right: 10px;
}

.textAreaButton svg,
.closeButton svg {
  fill: var(--color-primary);
}

.readerSettingsPopover {
  background-color: var(--color-secondary);
  color: var(--color-primary);
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--color-primary);
  position: relative;
}

.readerSettingsLabel {
  display: block;
  font-weight: bold;
}

.readerSettingsRadioWrapper {
  display: flex;
  gap: 20px;
  margin-top: 10px;
  text-align: center;
}

.readerSettingsRadio {
  padding: 5px;
}

.readerSettingsRadio[data-selected] {
  background-color: #EAEAEA;
  border-radius: 5px;
}

.readerSettingsRadio[data-disabled] {
  opacity: 0.35;
}

.readerSettingsRadio svg {
  width: var(--icon-size, 32px);
  height: var(--icon-size, 32px);
  fill: var(--color-primary);
}

.readerSettingsRadio span {
  display: block;
}