.scrollAffWrapper {
  display: flex;
  margin: 0 auto;
}

.scrollAffWrapper button {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
  text-align: inherit;
  background: none;
  box-shadow: none;
  padding: 0;
  cursor: pointer;
  border: none;
  color: inherit;
  font: inherit;
}

#prevButton {}

#nextButton {
  margin-inline-start: auto;
}